// COLORS:

$color-primary: #2594c7;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);

$color-secondary-light: #70d1b4;
$color-secondary-dark: darken($color-secondary-light, 15%);

$color-tertiary-light: #ebd039;
$color-tertiary-dark: darken($color-tertiary-light, 15%);

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
